@use '../abstracts/import.scss' as *;

@font-face {
    font-family: 'Kapakana';
    src: url('/assets/fonts/kapakana.ttf') format('truetype-variations'),
        url('/assets/fonts/kapakana.ttf') format('truetype');
    font-weight: 100 1000;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: 'KapakanaStatic';
    src:
        url('/assets/fonts/kapakana.woff2') format('woff2'),
        url('/assets/fonts/kapakana.woff') format('woff');
    font-weight: 1000;
}